.navigation {
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #FF5C16;
    font-size: 1.03em;
}

.navigation > * {
    padding: 1px 1px;
}

.navigation_hn {
    font-weight: bold;
}

.active {
    color: white;
}

.navigation_logo {
    color: white;
    font-weight: bold;
    border: 1px solid white;
    margin: 1px;
}

.navigation_brand {
    display: flex;
    align-items: center;
    justify-items: center;
}

.navigation_brand > * {
    padding: 0 4px;
}

.navigation_items {
    display: flex;
    align-items: center;
    justify-items: center;
}

.navigation_items > * {
    padding: 0 3px;
}