.story {
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.story_main {
    display: flex;
}

.story_main > * {
    padding: 0 5px;
}

.story_sub {
    display: flex;
    color: grey;
    font-size: 0.8em;
}

.story_sub > * {
    padding: 0 5px;
}

.story_url {
    color: grey;
    font-size: 0.8em;
}

